body {
  /* when scrolling elements into view, don't scroll them to the very top edge where they're hidden by the nav bar (https://stackoverflow.com/a/61913557) */
  scroll-padding-top: 15em;
  overflow-x: hidden;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: calc(0.8em + 0.5vw);
  transition: 0.3s;
  background: var(--bodyBg);
  color: var(--textColor);
}
@media (min-width: 1600px) {
  body {
    font-size: 1.4em;
  }
}
main {
  hyphens: auto;
}
main img {
  width: 100%;
}
a {
  color: var(--linkColor);
  text-decoration: none;
}
a:hover {
  color: var(--lightGreen);
}
button {
  color: inherit;
  background: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
blockquote {
  border-left: 3pt solid var(--linkColor);
  padding-left: 1em;
  margin: 1ex;
  background: var(--lightBg);
}
.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  text-align: center;
}
/* increase column width to use available space if not all columns filled */
.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}
/* captions */
p > a + em,
p > picture + em {
  text-align: center;
  display: block;
}
