:root {
  --blue: #2a4fa8;
  --dark-blue: #002e9d;
  --light-blue: #3da0f5;

  --light-green: #0ab3a5;

  --orange: #ecb517;
  --dark-orange: #cc9700;

  --yellow: #fffa00;

  --lighter-gray: #fafafa;
  --light-gray: #f1f1f1;
  --gray: #2b363f;
  --dark-gray: #1d242a;
  --darker-gray: #191818;

  --link-color: var(--dark-blue);
  --light-bg: white;
  --dark-bg: var(--dark-gray);
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  /* https://modern-fluid-typography.vercel.app */
  font-size: clamp(1rem, 0.5vw + 1rem, 1.6rem);
  transition: 0.3s;
  background: var(--lighter-gray);
}
/* hydration target */
body > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  hyphens: auto;
  flex: 1;
}
main img {
  width: 100%;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--light-green);
}
button {
  color: inherit;
  background: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
blockquote {
  border-left: 3pt solid var(--link-color);
  padding-left: 1em;
  margin: 1ex;
  background: var(--light-bg);
}
.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  text-align: center;
}
/* increase column width to use available space if not all columns filled */
.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}
/* captions */
p > :is(a + em, picture + em) {
  text-align: center;
  display: block;
}

:where(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 80px;
}
/* heading links inserted by custom heading renderer in src/marked.ts */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}
